/*public*/
.wrapper{
    width: @wrapper;
    min-width: @wrapper;
    margin: 0 auto;
}
.clearfix{
    *zoom:1;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.pr{
    position: relative;
}
.pa{
    position: absolute;
}
/*public end*/
